{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulario de Carga</title>
    <link
      rel="stylesheet"
      href="{% static 'ono_ocr/css/styles.css' %}"
      type="text/css"
    />
  </head>
  <body>
    <div class="container">
      <h2>Formulario de Carga</h2>
      <form id="uploadForm" enctype="multipart/form-data">
        <div class="form-group">
          <label for="fileInput">Seleccionar archivo (JPG o PDF)</label>
          <input
            type="file"
            id="fileInput"
            name="file"
            accept=".jpg,.jpeg,.pdf"
            required
          />
        </div>

        <div class="form-group">
          <label for="tipo">TIPO DOCUMENTO</label>
          <select id="tipo" name="tipo" required>
            <option value="IMSS">IMSS</option>
            <option value="INFONAVIT">INFONAVIT</option>
            <option value="SAT">SAT</option>
          </select>
        </div>
        <!-- <div class="form-group">
          <label for="tipoIncapacidad">TIPO_INCAPACIDAD</label>
          <input
            type="text"
            id="tipoIncapacidad"
            name="TIPO_INCAPACIDAD"
            required
          />
        </div> -->
        <!-- Agregar más campos aquí -->

        <button type="submit">Enviar</button>
      </form>
      <div id="loading" class="loading" style="display: none">
        <div class="spinner"></div>
      </div>
      <br />
      <div id="response" class="response"></div>
    </div>
    <script type="text/javascript">
      var apiKey = "{{ api_key }}";
    </script>
    <script src="{% static 'ono_ocr/js/script.js' %}"></script>
  </body>
</html>
