absl-py==2.1.0
amazon-textract-response-parser==1.0.2
anyio
appnope
asgiref==3.8.1
asttokens
astunparse==1.6.3
attrs==23.2.0
boto3==1.34.49
botocore==1.34.49
cachetools==5.3.2
certifi
charset-normalizer==3.3.2
coloredlogs==15.0.1
comm
contourpy==1.2.0
cycler==0.12.1
debugpy
decorator
deskew==1.5.1
distro
Django==5.0.3
django-environ==0.11.2
djangorestframework==3.15.1
editdistance==0.6.2
efficientnet==1.0.0
essential-generators==1.0
exceptiongroup
executing
flatbuffers==23.5.26
fonttools==4.47.2
gast==0.5.4
google-api-core==2.17.0
google-auth==2.27.0
google-auth-oauthlib==1.2.0
google-cloud-vision==3.7.0
google-pasta==0.2.0
googleapis-common-protos==1.62.0
grpcio==1.60.1
grpcio-status==1.60.1
h11
h5py==3.10.0
httpcore
httpx
humanfriendly==10.0
idna
imageio==2.33.1
imgaug==0.4.0
importlib-metadata
ipykernel
ipython
jedi
jmespath==1.0.1
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_client
jupyter_core
keras==2.15.0
Keras-Applications==1.0.8
keras-ocr==0.9.3
kiwisolver==1.4.5
lazy_loader==0.3
libclang==16.0.6
llvmlite==0.42.0
Markdown==3.5.2
MarkupSafe==2.1.4
marshmallow==3.20.2
matplotlib==3.8.2
matplotlib-inline
ml-dtypes==0.2.0
mpmath==1.3.0
nest_asyncio
networkx==3.2.1
numba==0.59.0
numpy
oauthlib==3.2.2
onnxruntime==1.17.0
openai==1.14.0
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
opt-einsum==3.3.0
packaging
pandas
parso
pdf2image==1.17.0
pexpect
pickleshare
pillow==10.2.0
platformdirs
pooch==1.8.0
prompt-toolkit
proto-plus==1.23.0
protobuf==4.23.4
psutil
ptyprocess
pure-eval
pyasn1==0.5.1
pyasn1-modules==0.3.0
pyclipper==1.3.0.post5
pydantic
Pygments
PyMatting==1.1.12
pyparsing==3.1.1
PyPDF2
python-dateutil
python-dotenv==1.0.1
pytz
pyzmq
referencing==0.33.0
regex==2023.12.25
rembg==2.0.54
requests==2.31.0
requests-oauthlib==1.3.1
rpds-py==0.17.1
rsa==4.9
s3transfer==0.10.0
scikit-image==0.22.0
scipy==1.12.0
shapely==2.0.2
six
sniffio
sqlparse==0.4.4
stack-data
sympy==1.12
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.34.0
termcolor==2.4.0
tifffile==2024.1.30
tiktoken==0.6.0
tornado
tqdm
traitlets
typing_extensions
tzdata
Unidecode
urllib3==2.0.7
validators==0.22.0
Wand==0.6.13
wcwidth
Werkzeug==3.0.1
wrapt==1.14.1
zipp
